html {
    font-size: 10px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;
}

*,
::before,
::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a, a:hover {
    transition: all .4s ease-in-out;
}